<div class="fx-closet-stage">
  <!-- ページイントロ -->
  <header class="fx-closet-intro">
    <p class="fx-closet-intro-tag">ITEM CLOSET</p>
    <h1 class="fx-closet-intro-title">
      系統別アイテム・コーデクローゼット
      <span>気になるアイテムをハンガーからピックアップ！</span>
    </h1>
  </header>

  <!-- =========================
       アメカジ
     ========================= -->
  <section class="fx-closet-rack">
    <div class="fx-closet-rack-head">
      <h2 class="fx-closet-style-name">アメカジ</h2>
      <p class="fx-closet-style-note">AMERICAN CASUAL</p>
    </div>

    <!-- アイテム一覧 -->
    <div class="fx-closet-strip">
      <h3 class="fx-closet-strip-title">アイテム一覧</h3>
      <ul class="fx-closet-rail fx-closet-rail-items">
        <li class="fx-closet-hanger">
          <%= link_to 'https://levi.jp/?srsltid=AfmBOormeIMfDMhC0T1_f-2HLcBtYt4u0V2qDN1kZQdMTI1EszxQYOuD',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image80.jpg', alt: 'アメカジ アイテム1', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://levi.jp/?srsltid=AfmBOormeIMfDMhC0T1_f-2HLcBtYt4u0V2qDN1kZQdMTI1EszxQYOuD',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image81.jpg', alt: 'アメカジ アイテム2', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://lee-japan.jp/', target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image82.jpg', alt: 'アメカジ アイテム3', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://lee-japan.jp/', target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image83.jpg', alt: 'アメカジ アイテム4', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.ralphlauren.co.jp/men/double-rl',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image84.jpg', alt: 'アメカジ アイテム5', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.ralphlauren.co.jp/men/double-rl',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image85.jpg', alt: 'アメカジ アイテム6', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://schott-nyc.jp/', target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image86.jpg', alt: 'アメカジ アイテム7', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://schott-nyc.jp/', target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image87.jpg', alt: 'アメカジ アイテム8', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://redwingheritage.jp/', target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image88.jpg', alt: 'アメカジ アイテム9', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://redwingheritage.jp/', target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image89.jpg', alt: 'アメカジ アイテム10', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
      </ul>
    </div>

    <!-- コーデ一覧 -->
    <div class="fx-closet-strip fx-closet-strip-coord">
      <h3 class="fx-closet-strip-title">コーデ一覧</h3>
      <ul class="fx-closet-rail fx-closet-rail-coords">
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/mdaros_kei?igsh=b21jcGVycm5xOHJr',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image1.jpg', alt: 'アメカジ コーデ1', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/mdaros_kei?igsh=b21jcGVycm5xOHJr',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image2.jpg', alt: 'アメカジ コーデ2', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to '__00_rui?igsh=NXpxZmdwcWVsNmcz'.prepend('https://www.instagram.com/'),
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image3.jpg', alt: 'アメカジ コーデ3', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to '__00_rui?igsh=NXpxZmdwcWVsNmcz'.prepend('https://www.instagram.com/'),
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image4.jpg', alt: 'アメカジ コーデ4', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/iannnnnn1009?igsh=NmFpZmdyMzloZXRl',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image5.jpg', alt: 'アメカジ コーデ5', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/iannnnnn1009?igsh=NmFpZmdyMzloZXRl',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image6.jpg', alt: 'アメカジ コーデ6', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/ichireen0411?igsh=MWc1ZXdqc3NzYTdvNw==',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image7.jpg', alt: 'アメカジ コーデ7', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/ichireen0411?igsh=MWc1ZXdqc3NzYTdvNw==',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image8.jpg', alt: 'アメカジ コーデ8', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/ty.yu880?igsh=emozb2Z2YWh5N2Nm',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image9.jpg', alt: 'アメカジ コーデ9', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/ty.yu880?igsh=emozb2Z2YWh5N2Nm',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image10.jpg', alt: 'アメカジ コーデ10', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </section>

  <!-- =========================
       ノームコア
     ========================= -->
  <section class="fx-closet-rack">
    <div class="fx-closet-rack-head">
      <h2 class="fx-closet-style-name">ノームコア</h2>
      <p class="fx-closet-style-note">NORMCORE</p>
    </div>

    <div class="fx-closet-strip">
      <h3 class="fx-closet-strip-title">アイテム一覧</h3>
      <ul class="fx-closet-rail fx-closet-rail-items">
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.uniqlo.com/jp/ja/?srsltid=AfmBOoo8-tEZ4rBf6W75gd2aXHwaKMYSIXQXeMt8KR31fMUTDg8v5fdQ',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image90.jpg', alt: 'ノームコア アイテム1', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.uniqlo.com/jp/ja/?srsltid=AfmBOoo8-tEZ4rBf6W75gd2aXHwaKMYSIXQXeMt8KR31fMUTDg8v5fdQ',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image91.jpg', alt: 'ノームコア アイテム2', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.apcjp.com/jpn/', target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image92.jpg', alt: 'ノームコア アイテム3', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.apcjp.com/jpn/', target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image93.jpg', alt: 'ノームコア アイテム4', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.apcjp.com/jpn/', target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image94.jpg', alt: 'ノームコア アイテム5', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://nautica.jp/', target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image95.jpg', alt: 'ノームコア アイテム6', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.acnestudios.com/jp/ja/home?srsltid=AfmBOopx2schZC9z5BDR1gcFjLd_QyR_42ivTmF4brNgmuhAidbl-A-0',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image96.jpg', alt: 'ノームコア アイテム7', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.acnestudios.com/jp/ja/home?srsltid=AfmBOopx2schZC9z5BDR1gcFjLd_QyR_42ivTmF4brNgmuhAidbl-A-0',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image97.jpg', alt: 'ノームコア アイテム8', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.fruitoftheloomjapan.com/', target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image98.jpg', alt: 'ノームコア アイテム9', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.fruitoftheloomjapan.com/', target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image99.jpg', alt: 'ノームコア アイテム10', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="fx-closet-strip fx-closet-strip-coord">
      <h3 class="fx-closet-strip-title">コーデ一覧</h3>
      <ul class="fx-closet-rail fx-closet-rail-coords">
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/taiyo_wup?igsh=MWtzaXB3aXhwbjl4bw==',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image11.jpg', alt: 'ノームコア コーデ1', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/taiyo_wup?igsh=MWtzaXB3aXhwbjl4bw==',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image12.jpg', alt: 'ノームコア コーデ2', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/sunp0s?igsh=MW1rZm9qZDB0Zjh0OA==',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image13.jpg', alt: 'ノームコア コーデ3', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/kochanfvnofuku?igsh=Nzk1ZmVveXZheWNt',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image14.jpg', alt: 'ノームコア コーデ4', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/kochanfvnofuku?igsh=Nzk1ZmVveXZheWNt',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image15.jpg', alt: 'ノームコア コーデ5', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/187___.___?igsh=MTVyZG82NmtrZmh0aQ==',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image16.jpg', alt: 'ノームコア コーデ6', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/187___.___?igsh=MTVyZG82NmtrZmh0aQ==',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image17.jpg', alt: 'ノームコア コーデ7', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/_______kite.24?igsh=MWtmNjZ2OTgxYmpsag==',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image18.jpg', alt: 'ノームコア コーデ8', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/_______kite.24?igsh=MWtmNjZ2OTgxYmpsag==',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image19.jpg', alt: 'ノームコア コーデ9', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/sunp0s?igsh=MW1rZm9qZDB0Zjh0OA==',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image79.jpg', alt: 'ノームコア コーデ10', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </section>

  <!-- =========================
       ワークスタイル
     ========================= -->
  <section class="fx-closet-rack">
    <div class="fx-closet-rack-head">
      <h2 class="fx-closet-style-name">ワークスタイル</h2>
      <p class="fx-closet-style-note">WORK STYLE</p>
    </div>

    <div class="fx-closet-strip">
      <h3 class="fx-closet-strip-title">アイテム一覧</h3>
      <ul class="fx-closet-rail fx-closet-rail-items">
        <li class="fx-closet-hanger">
          <%= link_to 'https://carhartt-wip.jp/?srsltid=AfmBOoqzrn3hqsHUADXjXjxju1rPlTj04es-syiYe3Dold5SEpo1DXQ3',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image100.jpg', alt: 'ワークスタイル アイテム1', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>

        <!-- 以下、元HTMLの順番を崩さずに同じパターンで
             image101〜image111 までを fx-closet-hanger で並べる -->

        <li class="fx-closet-hanger">
          <%= link_to 'https://carhartt-wip.jp/?srsltid=AfmBOoqzrn3hqsHUADXjXjxju1rPlTj04es-syiYe3Dold5SEpo1DXQ3',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image101.jpg', alt: 'ワークスタイル アイテム2', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>

        <li class="fx-closet-hanger">
          <%= link_to 'https://www.dickies.jp/', target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image102.jpg', alt: 'ワークスタイル アイテム3', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>

        <li class="fx-closet-hanger">
          <%= link_to 'https://www.dickies.jp/', target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image103.jpg', alt: 'ワークスタイル アイテム4', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>

        <li class="fx-closet-hanger">
          <%= link_to 'https://store.bendavisjp.com/', target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image104.jpg', alt: 'ワークスタイル アイテム5', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>

        <li class="fx-closet-hanger">
          <%= link_to 'https://store.bendavisjp.com/', target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image105.jpg', alt: 'ワークスタイル アイテム6', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>

        <li class="fx-closet-hanger">
          <%= link_to 'https://www.stanray.com/?srsltid=AfmBOopSuZdPQVN9qOgM-yksP_8uWJ97JjNIUhmeOvlhjbpmC5yni9I0',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image106.jpg', alt: 'ワークスタイル アイテム7', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>

        <li class="fx-closet-hanger">
          <%= link_to 'https://www.stanray.com/?srsltid=AfmBOopSuZdPQVN9qOgM-yksP_8uWJ97JjNIUhmeOvlhjbpmC5yni9I0',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image107.jpg', alt: 'ワークスタイル アイテム8', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>

        <li class="fx-closet-hanger">
          <%= link_to 'https://www.stanray.com/?srsltid=AfmBOopSuZdPQVN9qOgM-yksP_8uWJ97JjNIUhmeOvlhjbpmC5yni9I0',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image108.jpg', alt: 'ワークスタイル アイテム9', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>

        <li class="fx-closet-hanger">
          <%= link_to 'https://www.gap.co.jp/?tid=gjps009610&utm_campaign=22273105402&utm_content=183806860508&utm_term=gap&gad_source=1&gad_campaignid=22273105402&gbraid=0AAAAAD_AT8sw_hyUHdqA66BlmUad88-EE&gclid=EAIaIQobChMIsvbonKHtkAMVryx7Bx0TkQzrEAAYASAAEgK16vD_BwE',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image109.jpg', alt: 'ワークスタイル アイテム10', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>

        <li class="fx-closet-hanger">
          <%= link_to 'https://www.gap.co.jp/?tid=gjps009610&utm_campaign=22273105402&utm_content=183806860508&utm_term=gap&gad_source=1&gad_campaignid=22273105402&gbraid=0AAAAAD_AT8sw_hyUHdqA66BlmUad88-EE&gclid=EAIaIQobChMIsvbonKHtkAMVryx7Bx0TkQzrEAAYASAAEgK16vD_BwE',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image110.jpg', alt: 'ワークスタイル アイテム11', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>

        <li class="fx-closet-hanger">
          <%= link_to 'https://www.gap.co.jp/?tid=gjps009610&utm_campaign=22273105402&utm_content=183806860508&utm_term=gap&gad_source=1&gad_campaignid=22273105402&gbraid=0AAAAAD_AT8sw_hyUHdqA66BlmUad88-EE&gclid=EAIaIQobChMIsvbonKHtkAMVryx7Bx0TkQzrEAAYASAAEgK16vD_BwE',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image111.jpg', alt: 'ワークスタイル アイテム12', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="fx-closet-strip fx-closet-strip-coord">
      <h3 class="fx-closet-strip-title">コーデ一覧</h3>
      <ul class="fx-closet-rail fx-closet-rail-coords">
        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/13shop_toyota?igsh=OXRhamg3Y3ZyN252',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image29.jpg', alt: 'ワークスタイル コーデ1', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>

        <!-- 以下、image30〜38 まで元URLのまま fx-closet-hanger で並べる -->

        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/13shop_toyota?igsh=OXRhamg3Y3ZyN252',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image30.jpg', alt: 'ワークスタイル コーデ2', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>

        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/willhalbert?igsh=anB6Y2djMTA5NTNo',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image31.jpg', alt: 'ワークスタイル コーデ3', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>

        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/willhalbert?igsh=anB6Y2djMTA5NTNo',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image32.jpg', alt: 'ワークスタイル コーデ4', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>

        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/13shop_yuki?igsh=MWlkcDF1bnh6ZmE1MQ==',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image33.jpg', alt: 'ワークスタイル コーデ5', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>

        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/13shop_yuki?igsh=MWlkcDF1bnh6ZmE1MQ==',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image34.jpg', alt: 'ワークスタイル コーデ6', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>

        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/xx1.18xx?igsh=MWl5eWZnNmh5bWxveQ==',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image35.jpg', alt: 'ワークスタイル コーデ7', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>

        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/xx1.18xx?igsh=MWl5eWZnNmh5bWxveQ==',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image36.jpg', alt: 'ワークスタイル コーデ8', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>

        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/ryoya.115?igsh=ZXNrYnNsbGx3eWh2',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image37.jpg', alt: 'ワークスタイル コーデ9', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>

        <li class="fx-closet-hanger">
          <%= link_to 'https://www.instagram.com/ryoya.115?igsh=ZXNrYnNsbGx3eWh2',
                      target: '_blank', rel: 'noopener' do %>
            <div class="fx-closet-hanger-body">
              <%= image_tag 'image38.jpg', alt: 'ワークスタイル コーデ10', class: 'fx-closet-thumb' %>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </section>

  <!-- =========================
       韓国系
       ※ここから下も同じ構造：
       ・style-name だけ変える
       ・元の imageタグ & URL を
         fx-closet-hanger / fx-closet-thumb に差し替え
     ========================= -->

  <!-- 韓国系 -->
  <section class="fx-closet-rack">
    <div class="fx-closet-rack-head">
      <h2 class="fx-closet-style-name">韓国系</h2>
      <p class="fx-closet-style-note">KOREAN STYLE</p>
    </div>

    <div class="fx-closet-strip">
      <h3 class="fx-closet-strip-title">アイテム一覧</h3>
      <ul class="fx-closet-rail fx-closet-rail-items">
        <!-- 元HTMLの image112〜image127 までを
             すべて fx-closet-hanger パターンで並べる -->
        <% [
          ['image112.jpg','韓国系 アイテム1','https://adsb.co.kr/?srsltid=AfmBOopWr9gKFHaOpDnXPy9OIwMDbh4LJkGBerqfZbRxDxMt3laig3J6'],
          ['image113.jpg','韓国系 アイテム2','https://adsb.co.kr/?srsltid=AfmBOopWr9gKFHaOpDnXPy9OIwMDbh4LJkGBerqfZbRxDxMt3laig3J6'],
          ['image114.jpg','韓国系 アイテム3','https://adsb.co.kr/?srsltid=AfmBOopWr9gKFHaOpDnXPy9OIwMDbh4LJkGBerqfZbRxDxMt3laig3J6'],
          ['image115.jpg','韓国系 アイテム4','https://thisisneverthat.jp/?srsltid=AfmBOopy2yJ3gz2mZJt-N_z9f4EIa_tTqFLq9upWIKMFc71sCW5cotjB'],
          ['image116.jpg','韓国系 アイテム5','https://thisisneverthat.jp/?srsltid=AfmBOopy2yJ3gz2mZJt-N_z9f4EIa_tTqFLq9upWIKMFc71sCW5cotjB'],
          ['image117.jpg','韓国系 アイテム6','https://en.thug-club.com/pages/stockist'],
          ['image118.jpg','韓国系 アイテム7','https://en.thug-club.com/pages/stockist'],
          ['image119.jpg','韓国系 アイテム8','https://en.thug-club.com/pages/stockist'],
          ['image120.jpg','韓国系 アイテム9','https://en.thug-club.com/pages/stockist'],
          ['image121.jpg','韓国系 アイテム10','https://www.gentlemonster.com/jp/ja?srsltid=AfmBOoqHgAvVT2XcFfQ_aBLtNw9OvOMezVfo-s6k9MaZdZ4p81pwlciG'],
          ['image122.jpg','韓国系 アイテム11','https://www.gentlemonster.com/jp/ja?srsltid=AfmBOoqHgAvVT2XcFfQ_aBLtNw9OvOMezVfo-s6k9MaZdZ4p81pwlciG'],
          ['image123.jpg','韓国系 アイテム12','https://www.gentlemonster.com/jp/ja?srsltid=AfmBOoqHgAvVT2XcFfQ_aBLtNw9OvOMezVfo-s6k9MaZdZ4p81pwlciG'],
          ['image124.jpg','韓国系 アイテム13','https://www.sur8ery.com/'],
          ['image125.jpg','韓国系 アイテム14','https://www.sur8ery.com/'],
          ['image126.jpg','韓国系 アイテム15','https://www.sur8ery.com/'],
          ['image127.jpg','韓国系 アイテム16','https://www.sur8ery.com/']
        ].each do |img, alt, url| %>
          <li class="fx-closet-hanger">
            <%= link_to url, target: '_blank', rel: 'noopener' do %>
              <div class="fx-closet-hanger-body">
                <%= image_tag img, alt: alt, class: 'fx-closet-thumb' %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="fx-closet-strip fx-closet-strip-coord">
      <h3 class="fx-closet-strip-title">コーデ一覧</h3>
      <ul class="fx-closet-rail fx-closet-rail-coords">
        <% [
          ['image20.jpg', '韓国系 コーデ1', 'https://www.instagram.com/s.__.ka_512?igsh=dDc0OTRiOHU4eDY4'],
          ['image21.jpg', '韓国系 コーデ2', 'https://www.instagram.com/s.__.ka_512?igsh=dDc0OTRiOHU4eDY4'],
          ['image22.jpg', '韓国系 コーデ3', 'https://www.instagram.com/_3.zik.x?igsh=ZTV3dXNkdWVwempr'],
          ['image23.jpg', '韓国系 コーデ4', 'https://www.instagram.com/syuu._.wear?igsh=MWt2N3l2d3ZuaTdhNA=='],
          ['image24.jpg', '韓国系 コーデ5', 'https://www.instagram.com/syuu._.wear?igsh=MWt2N3l2d3ZuaTdhNA=='],
          ['image25.jpg', '韓国系 コーデ6', 'https://www.instagram.com/woozaet?igsh=MW1peWlubzE4dGUxdg=='],
          ['image26.jpg', '韓国系 コーデ7', 'https://www.instagram.com/woozaet?igsh=MW1peWlubzE4dGUxdg=='],
          ['image27.jpg', '韓国系 コーデ8', 'https://www.instagram.com/keisho_0624?igsh=bThjeXZrcXZrNWc2'],
          ['image28.jpg', '韓国系 コーデ9', 'https://www.instagram.com/keisho_0624?igsh=bThjeXZrcXZrNWc2']
        ].each do |img, alt, url| %>
          <li class="fx-closet-hanger">
            <%= link_to url, target: '_blank', rel: 'noopener' do %>
              <div class="fx-closet-hanger-body">
                <%= image_tag img, alt: alt, class: 'fx-closet-thumb' %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </section>

  <!-- =========================
       ストリート
     ========================= -->
  <section class="fx-closet-rack">
    <div class="fx-closet-rack-head">
      <h2 class="fx-closet-style-name">ストリート</h2>
      <p class="fx-closet-style-note">STREET</p>
    </div>

    <div class="fx-closet-strip">
      <h3 class="fx-closet-strip-title">アイテム一覧</h3>
      <ul class="fx-closet-rail fx-closet-rail-items">
        <% [
          ['image128.jpg','ストリート アイテム1','https://jp.supreme.com/pages/shop'],
          ['image129.jpg','ストリート アイテム2','https://jp.supreme.com/pages/shop'],
          ['image130.jpg','ストリート アイテム3','https://jp.supreme.com/pages/shop'],
          ['image131.jpg','ストリート アイテム4','https://jp.supreme.com/pages/shop'],
          ['image132.jpg','ストリート アイテム5','https://jp.stussy.com/'],
          ['image133.jpg','ストリート アイテム6','https://jp.stussy.com/'],
          ['image134.jpg','ストリート アイテム7','https://palaceskateboards.com/'],
          ['image135.jpg','ストリート アイテム8','https://palaceskateboards.com/'],
          ['image136.jpg','ストリート アイテム9','https://palaceskateboards.com/'],
          ['image137.jpg','ストリート アイテム10','https://jp.bape.com/?srsltid=AfmBOooV8gCBOCSmkVKVtcpbzGpmyGb5efWUWiiaPxE_MNGcJ6Ic0-mY'],
          ['image138.jpg','ストリート アイテム11','https://jp.bape.com/?srsltid=AfmBOooV8gCBOCSmkVKVtcpbzGpmyGb5efWUWiiaPxE_MNGcJ6Ic0-mY'],
          ['image139.jpg','ストリート アイテム12','https://jp.bape.com/?srsltid=AfmBOooV8gCBOCSmkVKVtcpbzGpmyGb5efWUWiiaPxE_MNGcJ6Ic0-mY'],
          ['image140.jpg','ストリート アイテム13','https://www.timberland.co.jp/'],
          ['image141.jpg','ストリート アイテム14','https://www.timberland.co.jp/']
        ].each do |img, alt, url| %>
          <li class="fx-closet-hanger">
            <%= link_to url, target: '_blank', rel: 'noopener' do %>
              <div class="fx-closet-hanger-body">
                <%= image_tag img, alt: alt, class: 'fx-closet-thumb' %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="fx-closet-strip fx-closet-strip-coord">
      <h3 class="fx-closet-strip-title">コーデ一覧</h3>
      <ul class="fx-closet-rail fx-closet-rail-coords">
        <% [
          ['image39.jpg','ストリート コーデ1','https://www.instagram.com/tig___00?igsh=MWNiY2pnZjN0c3BiZQ=='],
          ['image40.jpg','ストリート コーデ2','https://www.instagram.com/tig___00?igsh=MWNiY2pnZjN0c3BiZQ=='],
          ['image41.jpg','ストリート コーデ3','https://www.instagram.com/kz._.03?igsh=OGkzaHpod21oYW0='],
          ['image42.jpg','ストリート コーデ4','https://www.instagram.com/kz._.03?igsh=OGkzaHpod21oYW0='],
          ['image43.jpg','ストリート コーデ5','https://www.instagram.com/___hwts?igsh=bXJwZTFmZzhkY3hw'],
          ['image44.jpg','ストリート コーデ6','https://www.instagram.com/___hwts?igsh=bXJwZTFmZzhkY3hw'],
          ['image45.jpg','ストリート コーデ7','https://www.instagram.com/imrobinjay?igsh=d2Vkbjd6YzBybGlr'],
          ['image46.jpg','ストリート コーデ8','https://www.instagram.com/imrobinjay?igsh=d2Vkbjd6YzBybGlr'],
          ['image47.jpg','ストリート コーデ9','https://www.instagram.com/gvbrielrios?igsh=OWRhb3A1b2s3anlj'],
          ['image48.jpg','ストリート コーデ10','https://www.instagram.com/gvbrielrios?igsh=OWRhb3A1b2s3anlj']
        ].each do |img, alt, url| %>
          <li class="fx-closet-hanger">
            <%= link_to url, target: '_blank', rel: 'noopener' do %>
              <div class="fx-closet-hanger-body">
                <%= image_tag img, alt: alt, class: 'fx-closet-thumb' %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </section>

  <!-- =========================
       ゴープコア
     ========================= -->
  <section class="fx-closet-rack">
    <div class="fx-closet-rack-head">
      <h2 class="fx-closet-style-name">ゴープコア</h2>
      <p class="fx-closet-style-note">GORPCORE</p>
    </div>

    <div class="fx-closet-strip">
      <h3 class="fx-closet-strip-title">アイテム一覧</h3>
      <ul class="fx-closet-rail fx-closet-rail-items">
        <% [
          ['image142.jpg','ゴープコア アイテム1','https://www.thenorthface.jp/'],
          ['image143.jpg','ゴープコア アイテム2','https://www.thenorthface.jp/'],
          ['image144.jpg','ゴープコア アイテム3','https://arcteryx.jp/?srsltid=AfmBOooVqpZDM9JsGkGwKvbGDfZ_acjNE-kSRmtfpAs2NaAdRLlyaIBS'],
          ['image145.jpg','ゴープコア アイテム4','https://arcteryx.jp/?srsltid=AfmBOooVqpZDM9JsGkGwKvbGDfZ_acjNE-kSRmtfpAs2NaAdRLlyaIBS'],
          ['image146.jpg','ゴープコア アイテム5','https://arcteryx.jp/?srsltid=AfmBOooVqpZDM9JsGkGwKvbGDfZ_acjNE-kSRmtfpAs2NaAdRLlyaIBS'],
          ['image147.jpg','ゴープコア アイテム6','https://arcteryx.jp/?srsltid=AfmBOooVqpZDM9JsGkGwKvbGDfZ_acjNE-kSRmtfpAs2NaAdRLlyaIBS'],
          ['image148.jpg','ゴープコア アイテム7','https://www.patagonia.jp/home/'],
          ['image149.jpg','ゴープコア アイテム8','https://www.patagonia.jp/home/'],
          ['image150.jpg','ゴープコア アイテム9','https://www.patagonia.jp/home/'],
          ['image151.jpg','ゴープコア アイテム10','https://www.patagonia.jp/home/'],
          ['image152.jpg','ゴープコア アイテム11','https://www.oakley.com/ja-jp'],
          ['image153.jpg','ゴープコア アイテム12','https://www.oakley.com/ja-jp'],
          ['image154.jpg','ゴープコア アイテム13','https://www.oakley.com/ja-jp'],
          ['image156.jpg','ゴープコア アイテム15','https://www.oakley.com/ja-jp'],
          ['image157.jpg','ゴープコア アイテム16','https://www.andwander.com/'],
          ['image158.jpg','ゴープコア アイテム17','https://www.andwander.com/'],
          ['image159.jpg','ゴープコア アイテム18','https://www.andwander.com/'],
          ['image160.jpg','ゴープコア アイテム19','https://www.andwander.com/']
        ].each do |img, alt, url| %>
          <li class="fx-closet-hanger">
            <%= link_to url, target: '_blank', rel: 'noopener' do %>
              <div class="fx-closet-hanger-body">
                <%= image_tag img, alt: alt, class: 'fx-closet-thumb' %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="fx-closet-strip fx-closet-strip-coord">
      <h3 class="fx-closet-strip-title">コーデ一覧</h3>
      <ul class="fx-closet-rail fx-closet-rail-coords">
        <% [
          ['image49.jpg','ゴープコア コーデ1','https://www.instagram.com/shoxtaxx?igsh=b2poaW1mbmdhdjV6'],
          ['image50.jpg','ゴープコア コーデ2','https://www.instagram.com/shoxtaxx?igsh=b2poaW1mbmdhdjV6'],
          ['image51.jpg','ゴープコア コーデ3','https://www.instagram.com/y_marron0408?igsh=b3BjNHhoa2kwdXZ4'],
          ['image52.jpg','ゴープコア コーデ4','https://www.instagram.com/y_marron0408?igsh=b3BjNHhoa2kwdXZ4'],
          ['image53.jpg','ゴープコア コーデ5','https://www.instagram.com/s_h_u.22?igsh=MTk5djNzeGdpb3QzbQ=='],
          ['image54.jpg','ゴープコア コーデ6','https://www.instagram.com/s_h_u.22?igsh=MTk5djNzeGdpb3QzbQ=='],
          ['image55.jpg','ゴープコア コーデ7','https://www.instagram.com/_99_ryu?igsh=MXUwdmN6OW9zeDZlMQ=='],
          ['image56.jpg','ゴープコア コーデ8','https://www.instagram.com/_99_ryu?igsh=MXUwdmN6OW9zeDZlMQ=='],
          ['image57.jpg','ゴープコア コーデ9','https://www.instagram.com/shin___813?igsh=MWNyc2c4NDl1OWh3cg=='],
          ['image58.jpg','ゴープコア コーデ10','https://www.instagram.com/shin___813?igsh=MWNyc2c4NDl1OWh3cg==']
        ].each do |img, alt, url| %>
          <li class="fx-closet-hanger">
            <%= link_to url, target: '_blank', rel: 'noopener' do %>
              <div class="fx-closet-hanger-body">
                <%= image_tag img, alt: alt, class: 'fx-closet-thumb' %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </section>

  <!-- =========================
       スポーツミックス
     ========================= -->
  <section class="fx-closet-rack">
    <div class="fx-closet-rack-head">
      <h2 class="fx-closet-style-name">スポーツミックス</h2>
      <p class="fx-closet-style-note">SPORTS MIX</p>
    </div>

    <div class="fx-closet-strip">
      <h3 class="fx-closet-strip-title">アイテム一覧</h3>
      <ul class="fx-closet-rail fx-closet-rail-items">
        <% [
          # Nike
          ['image161.jpg','スポミ アイテム1','https://www.nike.com/jp/?cp=41531869128_search_-nike-g-12618970950-119400420145-e-m---558190344662-kwd-11642601-1009140_&gclsrc=aw.ds&gad_source=1&gad_campaignid=12618970950&gbraid=0AAAAADpeLdr_rWDzZj3VmSFAuylk7ak0c&gclid=EAIaIQobChMIzLuu4rnukAMVtdsWBR0JkiubEAAYASAAEgLzgPD_BwE'],
          ['image162.jpg','スポミ アイテム2','https://www.nike.com/jp/?cp=41531869128_search_-nike-g-12618970950-119400420145-e-m---558190344662-kwd-11642601-1009140_&gclsrc=aw.ds&gad_source=1&gad_campaignid=12618970950&gbraid=0AAAAADpeLdr_rWDzZj3VmSFAuylk7ak0c&gclid=EAIaIQobChMIzLuu4rnukAMVtdsWBR0JkiubEAAYASAAEgLzgPD_BwE'],
          ['image163.jpg','スポミ アイテム3','https://www.nike.com/jp/?cp=41531869128_search_-nike-g-12618970950-119400420145-e-m---558190344662-kwd-11642601-1009140_&gclsrc=aw.ds&gad_source=1&gad_campaignid=12618970950&gbraid=0AAAAADpeLdr_rWDzZj3VmSFAuylk7ak0c&gclid=EAIaIQobChMIzLuu4rnukAMVtdsWBR0JkiubEAAYASAAEgLzgPD_BwE'],
          ['image164.jpg','スポミ アイテム4','https://www.nike.com/jp/?cp=41531869128_search_-nike-g-12618970950-119400420145-e-m---558190344662-kwd-11642601-1009140_&gclsrc=aw.ds&gad_source=1&gad_campaignid=12618970950&gbraid=0AAAAADpeLdr_rWDzZj3VmSFAuylk7ak0c&gclid=EAIaIQobChMIzLuu4rnukAMVtdsWBR0JkiubEAAYASAAEgLzgPD_BwE'],
          ['image165.jpg','スポミ アイテム5','https://www.nike.com/jp/?cp=41531869128_search_-nike-g-12618970950-119400420145-e-m---558190344662-kwd-11642601-1009140_&gclsrc=aw.ds&gad_source=1&gad_campaignid=12618970950&gbraid=0AAAAADpeLdr_rWDzZj3VmSFAuylk7ak0c&gclid=EAIaIQobChMIzLuu4rnukAMVtdsWBR0JkiubEAAYASAAEgLzgPD_BwE'],

          # adidas
          ['image166.jpg','スポミ アイテム6','https://www.adidas.jp/?gclsrc=aw.ds&&cm_mmc=AdieSEM_Google_search-_-cpc_google-_-adidas-_-21364402535_163352075036_adidas%20originals_e-_-dv:eCom-_-cn:brand-exact-_-pc:Google_text&cm_mmc1=JP&cm_mmc2=PPC-B-None--None-JP-JP-eCom-Paid_Search&gad_source=1&gad_campaignid=21364402535&gclid=EAIaIQobChMIw4Ht7LnukAMVDpqmAx28MRmxEAAYASAAEgIOdvD_BwE'],
          ['image167.jpg','スポミ アイテム7','https://www.adidas.jp/?gclsrc=aw.ds&&cm_mmc=AdieSEM_Google_search-_-cpc_google-_-adidas-_-21364402535_163352075036_adidas%20originals_e-_-dv:eCom-_-cn:brand-exact-_-pc:Google_text&cm_mmc1=JP&cm_mmc2=PPC-B-None--None-JP-JP-eCom-Paid_Search&gad_source=1&gad_campaignid=21364402535&gclid=EAIaIQobChMIw4Ht7LnukAMVDpqmAx28MRmxEAAYASAAEgIOdvD_BwE'],
          ['image168.jpg','スポミ アイテム8','https://www.adidas.jp/?gclsrc=aw.ds&&cm_mmc=AdieSEM_Google_search-_-cpc_google-_-adidas-_-21364402535_163352075036_adidas%20originals_e-_-dv:eCom-_-cn:brand-exact-_-pc:Google_text&cm_mmc1=JP&cm_mmc2=PPC-B-None--None-JP-JP-eCom-Paid_Search&gad_source=1&gad_campaignid=21364402535&gclid=EAIaIQobChMIw4Ht7LnukAMVDpqmAx28MRmxEAAYASAAEgIOdvD_BwE'],
          ['image169.jpg','スポミ アイテム9','https://www.adidas.jp/?gclsrc=aw.ds&&cm_mmc=AdieSEM_Google_search-_-cpc_google-_-adidas-_-21364402535_163352075036_adidas%20originals_e-_-dv:eCom-_-cn:brand-exact-_-pc:Google_text&cm_mmc1=JP&cm_mmc2=PPC-B-None--None-JP-JP-eCom-Paid_Search&gad_source=1&gad_campaignid=21364402535&gclid=EAIaIQobChMIw4Ht7LnukAMVDpqmAx28MRmxEAAYASAAEgIOdvD_BwE'],
          ['image170.jpg','スポミ アイテム10','https://www.adidas.jp/?gclsrc=aw.ds&&cm_mmc=AdieSEM_Google_search-_-cpc_google-_-adidas-_-21364402535_163352075036_adidas%20originals_e-_-dv:eCom-_-cn:brand-exact-_-pc:Google_text&cm_mmc1=JP&cm_mmc2=PPC-B-None--None-JP-JP-eCom-Paid_Search&gad_source=1&gad_campaignid=21364402535&gclid=EAIaIQobChMIw4Ht7LnukAMVDpqmAx28MRmxEAAYASAAEgIOdvD_BwE'],
          ['image171.jpg','スポミ アイテム11','https://www.adidas.jp/?gclsrc=aw.ds&&cm_mmc=AdieSEM_Google_search-_-cpc_google-_-adidas-_-21364402535_163352075036_adidas%20originals_e-_-dv:eCom-_-cn:brand-exact-_-pc:Google_text&cm_mmc1=JP&cm_mmc2=PPC-B-None--None-JP-JP-eCom-Paid_Search&gad_source=1&gad_campaignid=21364402535&gclid=EAIaIQobChMIw4Ht7LnukAMVDpqmAx28MRmxEAAYASAAEgIOdvD_BwE'],
          ['image172.jpg','スポミ アイテム12','https://www.adidas.jp/?gclsrc=aw.ds&&cm_mmc=AdieSEM_Google_search-_-cpc_google-_-adidas-_-21364402535_163352075036_adidas%20originals_e-_-dv:eCom-_-cn:brand-exact-_-pc:Google_text&cm_mmc1=JP&cm_mmc2=PPC-B-None--None-JP-JP-eCom-Paid_Search&gad_source=1&gad_campaignid=21364402535&gclid=EAIaIQobChMIw4Ht7LnukAMVDpqmAx28MRmxEAAYASAAEgIOdvD_BwE'],
          ['image173.jpg','スポミ アイテム13','https://www.adidas.jp/?gclsrc=aw.ds&&cm_mmc=AdieSEM_Google_search-_-cpc_google-_-adidas-_-21364402535_163352075036_adidas%20originals_e-_-dv:eCom-_-cn:brand-exact-_-pc:Google_text&cm_mmc1=JP&cm_mmc2=PPC-B-None--None-JP-JP-eCom-Paid_Search&gad_source=1&gad_campaignid=21364402535&gclid=EAIaIQobChMIw4Ht7LnukAMVDpqmAx28MRmxEAAYASAAEgIOdvD_BwE'],

          # Puma
          ['image174.jpg','スポミ アイテム14','https://jp.puma.com/jp/ja?utm_medium=BS&utm_source=GGL_SEA&utm_campaign=BS_GGL_JP_2303_14985645339_153706131027_%E3%83%97%E3%83%BC%E3%83%9E_e_agency_1006963764752306474&gad_source=1&gad_campaignid=14985645339&gbraid=0AAAAADOnN2M-pIJyqWsZ279KLBW8-VnIw&gclid=EAIaIQobChMIpaX4_rnukAMVIJumAx2b1zVMEAAYASAAEgLrZPD_BwE'],
          ['image175.jpg','スポミ アイテム15','https://jp.puma.com/jp/ja?utm_medium=BS&utm_source=GGL_SEA&utm_campaign=BS_GGL_JP_2303_14985645339_153706131027_%E3%83%97%E3%83%BC%E3%83%9E_e_agency_1006963764752306474&gad_source=1&gad_campaignid=14985645339&gbraid=0AAAAADOnN2M-pIJyqWsZ279KLBW8-VnIw&gclid=EAIaIQobChMIpaX4_rnukAMVIJumAx2b1zVMEAAYASAAEgLrZPD_BwE'],
          ['image176.jpg','スポミ アイテム16','https://jp.puma.com/jp/ja?utm_medium=BS&utm_source=GGL_SEA&utm_campaign=BS_GGL_JP_2303_14985645339_153706131027_%E3%83%97%E3%83%BC%E3%83%9E_e_agency_1006963764752306474&gad_source=1&gad_campaignid=14985645339&gbraid=0AAAAADOnN2M-pIJyqWsZ279KLBW8-VnIw&gclid=EAIaIQobChMIpaX4_rnukAMVIJumAx2b1zVMEAAYASAAEgLrZPD_BwE'],
          ['image177.jpg','スポミ アイテム17','https://jp.puma.com/jp/ja?utm_medium=BS&utm_source=GGL_SEA&utm_campaign=BS_GGL_JP_2303_14985645339_153706131027_%E3%83%97%E3%83%BC%E3%83%9E_e_agency_1006963764752306474&gad_source=1&gad_campaignid=14985645339&gbraid=0AAAAADOnN2M-pIJyqWsZ279KLBW8-VnIw&gclid=EAIaIQobChMIpaX4_rnukAMVIJumAx2b1zVMEAAYASAAEgLrZPD_BwE'],
          ['image178.jpg','スポミ アイテム18','https://jp.puma.com/jp/ja?utm_medium=BS&utm_source=GGL_SEA&utm_campaign=BS_GGL_JP_2303_14985645339_153706131027_%E3%83%97%E3%83%BC%E3%83%9E_e_agency_1006963764752306474&gad_source=1&gad_campaignid=14985645339&gbraid=0AAAAADOnN2M-pIJyqWsZ279KLBW8-VnIw&gclid=EAIaIQobChMIpaX4_rnukAMVIJumAx2b1zVMEAAYASAAEgLrZPD_BwE'],
          ['image179.jpg','スポミ アイテム19','https://jp.puma.com/jp/ja?utm_medium=BS&utm_source=GGL_SEA&utm_campaign=BS_GGL_JP_2303_14985645339_153706131027_%E3%83%97%E3%83%BC%E3%83%9E_e_agency_1006963764752306474&gad_source=1&gad_campaignid=14985645339&gbraid=0AAAAADOnN2M-pIJyqWsZ279KLBW8-VnIw&gclid=EAIaIQobChMIpaX4_rnukAMVIJumAx2b1zVMEAAYASAAEgLrZPD_BwE'],
          ['image180.jpg','スポミ アイテム20','https://jp.puma.com/jp/ja?utm_medium=BS&utm_source=GGL_SEA&utm_campaign=BS_GGL_JP_2303_14985645339_153706131027_%E3%83%97%E3%83%BC%E3%83%9E_e_agency_1006963764752306474&gad_source=1&gad_campaignid=14985645339&gbraid=0AAAAADOnN2M-pIJyqWsZ279KLBW8-VnIw&gclid=EAIaIQobChMIpaX4_rnukAMVIJumAx2b1zVMEAAYASAAEgLrZPD_BwE'],

          # Asics
          ['image181.jpg','スポミ アイテム21','https://www.asics.com/jp/ja-jp/'],
          ['image182.jpg','スポミ アイテム22','https://www.asics.com/jp/ja-jp/'],
          ['image183.jpg','スポミ アイテム23','https://www.asics.com/jp/ja-jp/'],
          ['image184.jpg','スポミ アイテム24','https://www.asics.com/jp/ja-jp/'],
          ['image185.jpg','スポミ アイテム25','https://www.asics.com/jp/ja-jp/'],

          # New Balance
          ['image186.jpg','スポミ アイテム26','https://shop.newbalance.jp/'],
          ['image187.jpg','スポミ アイテム27','https://shop.newbalance.jp/'],
          ['image188.jpg','スポミ アイテム28','https://shop.newbalance.jp/'],
          ['image189.jpg','スポミ アイテム29','https://shop.newbalance.jp/'],
          ['image190.jpg','スポミ アイテム30','https://shop.newbalance.jp/']
        ].each do |img, alt, url| %>
          <li class="fx-closet-hanger">
            <%= link_to url, target: '_blank', rel: 'noopener' do %>
              <div class="fx-closet-hanger-body">
                <%= image_tag img, alt: alt, class: 'fx-closet-thumb' %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="fx-closet-strip fx-closet-strip-coord">
      <h3 class="fx-closet-strip-title">コーデ一覧</h3>
      <ul class="fx-closet-rail fx-closet-rail-coords">
        <% [
          ['image59.jpg','スポミ コーデ1','https://www.instagram.com/makoto_97_o0?igsh=MWlxemhiZjFyNGlwZQ=='],
          ['image60.jpg','スポミ コーデ2','https://www.instagram.com/makoto_97_o0?igsh=MWlxemhiZjFyNGlwZQ=='],
          ['image61.jpg','スポミ コーデ3','https://www.instagram.com/jun_wear45?igsh=MWRpbHhoNDNtMnVkMw=='],
          ['image62.jpg','スポミ コーデ4','https://www.instagram.com/jun_wear45?igsh=MWRpbHhoNDNtMnVkMw=='],
          ['image63.jpg','スポミ コーデ5','https://www.instagram.com/0rl____io3?igsh=ZW1yMGltYms5amtn'],
          ['image64.jpg','スポミ コーデ6','https://www.instagram.com/0rl____io3?igsh=ZW1yMGltYms5amtn'],
          ['image65.jpg','スポミ コーデ7','https://www.instagram.com/itoooossi?igsh=ZHF3d3lhNm45MTV6'],
          ['image66.jpg','スポミ コーデ8','https://www.instagram.com/itoooossi?igsh=ZHF3d3lhNm45MTV6'],
          ['image67.jpg','スポミ コーデ9','https://www.instagram.com/kojikun0909?igsh=MWp0dWxxdWtscG02cQ=='],
          ['image68.jpg','スポミ コーデ10','https://www.instagram.com/kojikun0909?igsh=MWp0dWxxdWtscG02cQ==']
        ].each do |img, alt, url| %>
          <li class="fx-closet-hanger">
            <%= link_to url, target: '_blank', rel: 'noopener' do %>
              <div class="fx-closet-hanger-body">
                <%= image_tag img, alt: alt, class: 'fx-closet-thumb' %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </section>

  <!-- =========================
       テック
     ========================= -->
  <section class="fx-closet-rack">
    <div class="fx-closet-rack-head">
      <h2 class="fx-closet-style-name">テック</h2>
      <p class="fx-closet-style-note">TECH STYLE</p>
    </div>

    <div class="fx-closet-strip">
      <h3 class="fx-closet-strip-title">アイテム一覧</h3>
      <ul class="fx-closet-rail fx-closet-rail-items">
        <% [
          # Stone Island
          ['image191.jpg','テック アイテム1','https://www.stoneisland.com/ja-jp/'],
          ['image192.jpg','テック アイテム2','https://www.stoneisland.com/ja-jp/'],
          ['image193.jpg','テック アイテム3','https://www.stoneisland.com/ja-jp/'],
          ['image194.jpg','テック アイテム4','https://www.stoneisland.com/ja-jp/'],
          ['image195.jpg','テック アイテム5','https://www.stoneisland.com/ja-jp/'],

          # Nike ACG
          ['image196.jpg','テック アイテム6','https://www.nike.com/jp/acg'],
          ['image197.jpg','テック アイテム7','https://www.nike.com/jp/acg'],
          ['image198.jpg','テック アイテム8','https://www.nike.com/jp/acg'],
          ['image199.jpg','テック アイテム9','https://www.nike.com/jp/acg'],
          ['image200.jpg','テック アイテム10','https://www.nike.com/jp/acg'],
          ['image201.jpg','テック アイテム11','https://www.nike.com/jp/acg'],

          # C.P. Company
          ['image202.jpg','テック アイテム12','https://www.cpcompany.com/ja-jp/?srsltid=AfmBOorCwwvn5EZ6GcGuGsEvHthveDccw0NZyNpvUTYd2cBp-f1J5XFJ'],
          ['image203.jpg','テック アイテム13','https://www.cpcompany.com/ja-jp/?srsltid=AfmBOorCwwvn5EZ6GcGuGsEvHthveDccw0NZyNpvUTYd2cBp-f1J5XFJ'],
          ['image204.jpg','テック アイテム14','https://www.cpcompany.com/ja-jp/?srsltid=AfmBOorCwwvn5EZ6GcGuGsEvHthveDccw0NZyNpvUTYd2cBp-f1J5XFJ'],
          ['image205.jpg','テック アイテム15','https://www.cpcompany.com/ja-jp/?srsltid=AfmBOorCwwvn5EZ6GcGuGsEvHthveDccw0NZyNpvUTYd2cBp-f1J5XFJ'],
          ['image206.jpg','テック アイテム16','https://www.cpcompany.com/ja-jp/?srsltid=AfmBOorCwwvn5EZ6GcGuGsEvHthveDccw0NZyNpvUTYd2cBp-f1J5XFJ'],

          # ACRONYM
          ['image207.jpg','テック アイテム17','https://acrnm.com/'],
          ['image208.jpg','テック アイテム18','https://acrnm.com/'],
          ['image209.jpg','テック アイテム19','https://acrnm.com/'],
          ['image210.jpg','テック アイテム20','https://acrnm.com/'],

          # Salomon
          ['image211.jpg','テック アイテム21','https://salomon.jp/collections/xt-6?utm_source=google&utm_medium=cpc&utm_campaign=G01BrandExact_Salomon&utm_content=&utm_term=%E3%82%B5%E3%83%AD%E3%83%A2%E3%83%B3&gad_source=1&gad_campaignid=821376446&gclid=EAIaIQobChMI_5u57rrukAMVIN4WBR3ERDJwEAAYASAAEgJksvD_BwE'],
          ['image212.jpg','テック アイテム22','https://salomon.jp/collections/xt-6?utm_source=google&utm_medium=cpc&utm_campaign=G01BrandExact_Salomon&utm_content=&utm_term=%E3%82%B5%E3%83%AD%E3%83%A2%E3%83%B3&gad_source=1&gad_campaignid=821376446&gclid=EAIaIQobChMI_5u57rrukAMVIN4WBR3ERDJwEAAYASAAEgJksvD_BwE'],
          ['image213.jpg','テック アイテム23','https://salomon.jp/collections/xt-6?utm_source=google&utm_medium=cpc&utm_campaign=G01BrandExact_Salomon&utm_content=&utm_term=%E3%82%B5%E3%83%AD%E3%83%A2%E3%83%B3&gad_source=1&gad_campaignid=821376446&gclid=EAIaIQobChMI_5u57rrukAMVIN4WBR3ERDJwEAAYASAAEgJksvD_BwE']
        ].each do |img, alt, url| %>
          <li class="fx-closet-hanger">
            <%= link_to url, target: '_blank', rel: 'noopener' do %>
              <div class="fx-closet-hanger-body">
                <%= image_tag img, alt: alt, class: 'fx-closet-thumb' %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="fx-closet-strip fx-closet-strip-coord">
      <h3 class="fx-closet-strip-title">コーデ一覧</h3>
      <ul class="fx-closet-rail fx-closet-rail-coords">
        <% [
          ['image69.jpg','テック コーデ1','https://www.instagram.com/zkunn_dayooooo?igsh=MXF1dDB3ejIxdXUyNg=='],
          ['image70.jpg','テック コーデ2','https://www.instagram.com/zkunn_dayooooo?igsh=MXF1dDB3ejIxdXUyNg=='],
          ['image71.jpg','テック コーデ3','https://www.instagram.com/ksasaki062414?igsh=NGhpbnR6cHEybDYz'],
          ['image72.jpg','テック コーデ4','https://www.instagram.com/ksasaki062414?igsh=NGhpbnR6cHEybDYz'],
          ['image73.jpg','テック コーデ5','https://www.instagram.com/ks_12uk?igsh=MWFkc2M5ajE5NzF3bQ=='],
          ['image74.jpg','テック コーデ6','https://www.instagram.com/ks_12uk?igsh=MWFkc2M5ajE5NzF3bQ=='],
          ['image75.jpg','テック コーデ7','https://www.instagram.com/i_am_kentadesu_?igsh=ZHMxNHdneHQ4dHp5'],
          ['image76.jpg','テック コーデ8','https://www.instagram.com/i_am_kentadesu_?igsh=ZHMxNHdneHQ4dHp5'],
          ['image77.jpg','テック コーデ9','https://www.instagram.com/wa10_son?igsh=OWhlbnQyZzY3aHk5'],
          ['image78.jpg','テック コーデ10','https://www.instagram.com/wa10_son?igsh=OWhlbnQyZzY3aHk5']
        ].each do |img, alt, url| %>
          <li class="fx-closet-hanger">
            <%= link_to url, target: '_blank', rel: 'noopener' do %>
              <div class="fx-closet-hanger-body">
                <%= image_tag img, alt: alt, class: 'fx-closet-thumb' %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </section>


</div>
