<h1>GeekTwitter</h1>
<h1>自分の題名</h1>
<h3>一覧ページ</h3>
<% if user_signed_in? %>
  <%= link_to "マイページへ", user_path(current_user.id) %>
<% end %>

<%= link_to "新規投稿へ", new_tweet_path %>
<div class="tweets-container">
  <% @tweets.each do |t| %>
    <div class="tweet">
      <%= t.title %>
      <%= t.about %>
      <%= t.user.email %>
    </div>
  <% end %>
</div>